<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Description</th>
            <th>Start Date</th>
            <th>Last Call</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {{range .Data}}
        <tr>
            <td>{{.Id}}</td>
            <td>{{.Title}}</td>
            <td>{{.Description}}</td>
            <td>{{.StartDate}}</td>
            <td>{{.LastCall}}</td>
            <td>{{.Status}}</td>
        </tr>
        {{end}}
    </tbody>
</table>